body {
    margin: 0px;
    padding: 0px;
    background-color: red;
}

#char-list-one {
    height: 18.8rem;
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#container {
    height: 10rem;
    width: 50rem;
    background-color: red;
    margin: auto;
}

#search-box {
    height: 5rem;
    width: 20rem;
    background-color: rgb(157, 109, 107);
    margin: auto;
    position: relative;
    top: 2rem;
    bottom: 2rem;
}

#container h3 {
    margin: 0px;
    padding: 0px;
    text-align: center;
    position: relative;
    top: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#input-box {
    margin: auto;
    height: 1.5rem;
    width: 12rem;
    position: relative;
    top: 1.5rem;
    bottom: 1.5rem;
    left: 4rem;
    right: 4rem;
    border-radius: 5%;
}

.list {
    position: absolute;
    left: 3.5rem;
    margin: 0px;
    background: azure;
    top: 3.5rem;
    z-index: 9;
}


#char-list-two {
    height: 18.92rem;
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.herobox {
    height: 10rem;
    width: 10rem;
    background-color: aliceblue;
    position: relative;
}

.superhero-img {
    height: 100%;
    width: 100%;


}


.superhero-img img {
    width: 100%;
    height: 100%;

}

.superhero-img p {
    text-align: center;
}

.superhero-name {
    margin: 0px;
    position: relative;
    bottom: 1rem;
}

.autocomplete-items {
    padding: 0px;
    border: 1px solid black;
    margin: 0px;
    font-size: 9px;

}

.item {
    display: inline;
}

.like-button :hover {
    color: red;
}

.liked {
    color: red;
}

#favourites {
    position: relative;
    text-align: center;
    bottom: 3rem;
}